@model AllDataSearchModel
<h3>Filter</h3>
<br />

<form method="get" asp-action="Index" asp-controller="AllData">
    @*burial direction*@
    <label asp-for="BurialDirection">Burial Direction</label>
    <select asp-for="BurialDirection">
        <option value="">--</option>
        <option value="E">East</option>
        <option value="W">West</option>
    </select>
    <br />

    @*year*@
    <label asp-for="YearFound"> Year Found</label>
    <input type="text" asp-for="YearFound" placeholder="(1998)"/>
    <br />

    @*hair*@
    <label asp-for="HairColor">Hair Color</label>
    <select asp-for="HairColor">
        <option value="">--</option>
        <option value="B">Brown</option>
        <option value="K">Black</option>
        <option value="A">Red-Brown</option>
        <option value="R">Red</option>
        <option value="D">Blond</option>
        <option value="U">Unknown</option>
    </select>
    <br />
    <br />

    @*location*@
    <label asp-for="BurialLocation">Burial Location</label>
    <input type="text" asp-for="BurialLocation" placeholder="(N 200/210 E 30/40 SW #53)"/>
    <p>Example: N 200/210 E 30/40 SW #53</p>
    <p>If applicable add an Area to the end : "Area 11"</p>
    <br />

    @*age*@
    <label asp-for="AgeGroup">Age Group</label>
    <select asp-for="AgeGroup">
        <option value="">--</option>
        <option value="N">Newborn/Infant</option>
        <option value="I">Infant</option>
        <option value="C">Child</option>
        <option value="A">Adult</option>
        <option value="U">Unknown</option>
    </select>
    <br />

    @*gender*@
    <label asp-for="Gender">Gender</label>
    <select asp-for="Gender">
        <option value="">--</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="U">Unknown</option>
    </select>
    <br />
    <br />

    @*burial situation*@
<label asp-for="BurialSituation">Search Here for Other Burial Situation Details</label>
    <input type="search" asp-for="BurialSituation" placeholder="Search Here"/>
    <br />
    <br />

    <input type="submit" />
    <input type="button" onclick="window.location.href='/AllData'" value="Reset"/>
    <input name="_RequestVerificationToken" type="hidden" value="<token_generated_here>"/>
</form>