<section class="">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center">
                <span class="subheading">BYU Eygpt Excavation Project</span>
                <h2>Admins</h2>
            </div>
        </div>
        @*ADMINS*@
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/KM.png" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>Kerry Muhlestein</h3>
                        <span class="position mb-2">Director BYU Egypt Excavation Project</span>
                        <div class="faded">
                            <p>BYU professor of Ancient Scripture</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/Paul.png" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>R Paul Evans</h3>
                        <span class="position mb-2">BYU Professor</span>
                        <div class="faded">
                            <p>Member of the BYU Eygpt Excavation Project</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/pGP.jpg" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>George Pierce</h3>
                        <span class="position mb-2">Professor of Ancient Scripture</span>
                        <div class="faded">
                            <p>
                                Member of BYU Egypt Excavation Project
                            </p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*RESEARCHERS*@
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center">
                <h2>Researchers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/samh.png" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>Sam Hansen</h3>
                        <span class="position mb-2">Soon to be Researcher</span>
                        <div class="faded">
                            <p>Sam will research the crap out of anything that you want to know!</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/wells.png" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>Taylor Wells</h3>
                        <span class="position mb-2">Information Systems Professor</span>
                        <div class="faded">
                            <p>Best Security Professor we have ever had.</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="staff">
                    <div class="img-wrap d-flex align-items-stretch">
                        <img src="~/img/People/SJ.png" />
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>Spencer Jensen</h3>
                        <span class="position mb-2">Teaching Assistant</span>
                        <div class="faded">
                            <p>Definitely one of the coolest TA's on campus</p>
                            <ul class="ftco-social text-center">
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>