@model FagElGamousExcavation.Models.AllData

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a Mummy Record</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <%= Html.AntiforgeryToken() %>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Burial ID*@
            <h4>Enter to Create Burial ID</h4>
            <div class="form-group">
                <label asp-for="BurialLocationNs" class="control-label">Burial Location N/S</label>
                <input asp-for="BurialLocationNs" class="form-control" />
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEw" class="control-label">Burial Location E/W</label>
                <input asp-for="BurialLocationEw" class="form-control" />
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairNs" class="control-label">Low Pair N/S</label>
                <input asp-for="LowPairNs" class="form-control" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNs" class="control-label">High Pair N/S</label>
                <input asp-for="HighPairNs" class="form-control" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEw" class="control-label">Low Pair E/W</label>
                <input asp-for="LowPairEw" class="form-control" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEw" class="control-label">High Pair E/W</label>
                <input asp-for="HighPairEw" class="form-control" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSubplot" class="control-label">Burial Subplot</label>
                <select asp-for="BurialSubplot">
                    <option value="NE">NE</option>
                    <option value="NW">NW</option>
                    <option value="SE">SE</option>
                    <option value="SW">SW</option>
                </select>
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label">Burial Number</label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaHillBurials" class="control-label">Area</label>
                <input asp-for="AreaHillBurials" class="form-control" />
                <span asp-validation-for="AreaHillBurials" class="text-danger"></span>
            </div>
            <br />
            <br />

            @*Additional Burial Measurements*@
            <h4>Additional Burial Measurements</h4>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label">Burial Depth (Meters)</label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToHead" class="control-label">Distance From South Edge to Head (Meters)</label>
                <input asp-for="SouthToHead" class="form-control" />
                <span asp-validation-for="SouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SouthToFeet" class="control-label">Distance From South Edge to Feet (Meters)</label>
                <input asp-for="SouthToFeet" class="form-control" />
                <span asp-validation-for="SouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WestToHead" class="control-label">Distance From West Edge to Head (Meters)</label>
                <input asp-for="WestToHead" class="form-control" />
                <span asp-validation-for="WestToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WestToFeet" class="control-label">Distance From West Edge to Head (Meters)</label>
                <input asp-for="WestToFeet" class="form-control" />
                <span asp-validation-for="WestToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LengthOfBurialCm" class="control-label">Length of Burial (Meters)</label>
                <input asp-for="LengthOfBurialCm" class="form-control" />
                <span asp-validation-for="LengthOfBurialCm" class="text-danger"></span>
            </div>
            <br />
            <br />
            @*Other*@
            <h4>Other</h4>
            <div class="form-group">
                <label asp-for="GenderCode" class="control-label">Gender</label>
                <select asp-for="GenderCode">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="GenderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goods" class="control-label">Burial Goods</label>
                <select asp-for="Goods">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="Goods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColor" class="control-label">Hair Color</label>
                <select asp-for="HairColor">
                    <option value="B">Brown</option>
                    <option value="K">Black</option>
                    <option value="A">Red-Brown</option>
                    <option value="R">Red</option>
                    <option value="D">Blond</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreservationIndex" class="control-label">Preservation Index Number</label>
                <select asp-for="PreservationIndex">
                    <option value="I"> I - only bones</option>
                    <option value="II">II - 5-25% tissue and/or textiles</option>
                    <option value="III">50% or less tissue and/or textiles</option>
                </select>
                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimateAgeSingle" class="control-label">Estimated Age</label>
                <select asp-for="EstimateAgeSingle">
                    <option value="N">Newborn/Infant</option>
                    <option value="I">Infant</option>
                    <option value="C">Child</option>
                    <option value="A">Adult</option>
                    <option value="U">Unknown</option>
                </select>
                <span asp-validation-for="EstimateAgeSingle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearFound" class="control-label">Year Found</label>
                <input asp-for="YearFound" class="form-control" />
                <span asp-validation-for="YearFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthFound" class="control-label">Month Found</label>
                <input asp-for="MonthFound" class="form-control" />
                <span asp-validation-for="MonthFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayFound" class="control-label">Day Found</label>
                <input asp-for="DayFound" class="form-control" />
                <span asp-validation-for="DayFound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TombBurial" class="control-label">Was it a Tomb Burial?</label>
                <select asp-for="TombBurial">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="TombBurial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notes</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            @*Maybe add upload img*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
